.book__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 13px;
  padding: 10px;
  transition: 0.5s;
}

.book__item:hover {
  box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
}

.book__photo {
  max-width: 200px;
  height: 200px;
}

.book__name {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.book__price {
  font-size: 1.6rem;
  font-family: serif;
}

.add__button {
  font-size: 1.6rem;
  background-color: #fff;
  border: #9fa4af 1px solid;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0.7rem 2.5rem;
  border-radius: 100px;
  transition: 0.2s;
}

.add__button:focus{
outline: 0;
}

.add__button:hover {
  background-color: #368ee0;
  color: #fff;
  cursor: pointer;
}

